
<html>
  <head>
<link rel="stylesheet" href="style.css">
    <title>
      mission
    </title>

  </head>
  <body>

      <div class="hero">
        </div>

        <div class="form-box">
          <style>
h1 {text-align: center;}
</style>
  <h1>Mission info</h1>
          <form action="/action_page.php">
    <label for="id">id :</label><br>
    <input type="text" id="fname" name="id" ><br>
    <label for="username">username:</label><br>
    <input type="text" id="lname" name="Username" "><br>
    <label for="no_vol">no. of voulenter:</label><br>
    <input type="text" id="lname" name="no_vol" "><br><br>
    <label for="startd">start date:</label><br>
    <input type="date" id="startd" name="stard"><br><br>
    <label for="startt">start time:</label><br>
  <input type="time" id="endt" name="endt"><br><br>
    <label for="endd">end date:</label><br>
  <input type="date" id="endd" name="endd"><br><br>
    <label for="endt">end time:</label><br>
    <input type="time" id="endt" name="endt"><br><br>

<button class="button button3">sumbit</button>
  </form>


        </div>

  </body>
</html>
